<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatJS</title>
    <link rel="stylesheet" href="./assets/style.css" />
  </head>
  <body>
    <section>
    <header>
      <h1>ChatJS</h1>
    </header>

    <h2>Welcome to ChatJS </h2>
    <% if (user) { %>
      <p class="user_name_logout">Hello again <%= user %><span id="logout" class="btn_logout">logout</span> </p>
      
      <a href="/chatroom">Let's chat again!</a>
    <% } %>
  

    <% if (!user) { %>
      <p>To use the chat, first signup or login with 'Anonymous' to try it!</p>
      <a class="register_link" href="/login">To login</a>
      <a class="register_link" href="/create_account">To register</a>
      <% } %>
    </section>
      <script src="./assets/index.js"></script>
  </body>
</html>
