<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatJS</title>
    <link rel="stylesheet" href="./assets/style.css" />
  </head>
  <body>
    <header>
      <h1>ChatJS</h1>
    </header>

    <h2>Welcome to ChatJS </h2>
    <% if (user) { %>
      <p>Hello again <%= user %> </p>
      
      <a href="/chatroom">Let's chat again!</a>
    <% } %>

    <% if (!user) { %>
      <p>To use the chat, first signup or login with 'Anonymous' to try it!</p>
      <a href="/login">To login</a>
      <a href="/create_account">To register</a>
      <% } %>
  </body>
</html>
