<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatJS Register</title>
    <link rel="stylesheet" href="./assets/style.css" />
  </head>
  <body>
    <section>
      <header>
        <h1>ChatJS</h1>
      </header>
      <% if (user) { %>
        <p>Hello again <%= user %><span id="logout" class="btn_logout">logout</span> </p>
        
        <a href="/chatroom">Let's chat again!</a>
      <% } %>

      <% if (!user) { %>
      <form class="register_form" method="POST">
        <div class="register_container">
          <div class="user_name_wrapper user_wrapper">
            <label for="userName">User name:</label>
            <input
              type="text"
              id="input_user_name"
              class="input_user_name"
              name="userName"
              required
            />
          </div>
          <div class="user_pin_wrapper user_wrapper">
            <label for="userPin">Pin :</label>
            <input
              type="text"
              id="input_user_pin"
              class="input_user_pin"
              name="password"
            />
          </div>
          <input
            type="submit"
            class="button_green"
            id="register_btn"
            value="register"
          />
        </div>

        <div class="error"></div>
      </form>
      <div class="register_wrapper">
        <p>
          If you  have an user, go to
          <a href="/login" class="register_link">to login</a>
          page!
        </p>
      </div>
      <% } %>
    </section>
    <script src="./assets/register.js"></script>
  </body>
</html>
