<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatJS Register</title>
    <link rel="stylesheet" href="./assets/style.css" />
  </head>
  <body>
    <section>
      <header>
        <h1>ChatJS</h1>
      </header>
      <form action="/signup" class="register_form" method="POST">
        <div class="register_container">
          <div class="user_name_wrapper user_wrapper">
            <label for="userName">User name:</label>
            <input
              type="text"
              id="input_user_name"
              class="input_user_name"
              name="userName"
              required
            />
          </div>
          <div class="user_pin_wrapper user_wrapper">
            <label for="userPin">Pin :</label>
            <input
              type="text"
              id="input_user_pin"
              class="input_user_pin"
              name="password"
            />
            <!-- <label for="userConfirmationPin"
                            >Pin confirmation:</label
                        >
                        <input
                            type="text"
                            id="input_user_pin"
                            class="input_user_confirmation_pin"
                            name="userConfirmationPin"
                            required
                        /> -->
          </div>
          <input
            type="submit"
            class="button_green"
            id="register_btn"
            value="register"
          />
        </div>
        <% if (error.status) { %>
          <div class="error"><%= error.message %></div>
        <% } %>
        
      </form>
    </section>
    <!-- <script src="./assets/script.js"></script> -->
  </body>
</html>
